*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif; 
}

body{
    background-color: #8fbcb3;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
   
}
.sessao{
    display: flex;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #dfe6ed;
    
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #c3cfd9;
}

button{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #788895;
    background-color: #788895;
    color: white;
    cursor: pointer;
}

.resultado{
    
    width: 200px;
    height: 200px;
    background-color: #c3cfd9;
    border: 2px solid #788895;
    padding: 10px;
}



#resultado-divisao{
    text-align: center; 
    font-weight:bold;
    font-size: 80px;
}

#nomeCompleto{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-top: 24px;
}

